body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
   /************************************  interface client *******************************************/

 .card-list-client{
  padding: 25px;
   display: flex;
   flex-wrap: wrap;
 }



 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height:350px;
  margin:0  25px;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}

   /************************ slogan ***********************/
 .container-slogan{
   background-color: black;
  
   width: 100%;
   height: 200px ;
   padding: 100px 0px 180px 0;
   text-align: center;  
 
 }
 .titre-slogan{
  color: white;
  font-size: 50px;

 }

    /************************ services ***********************/



 .container{
   margin:  65px 0 65px 0;
 }

.serviceBox{
  padding: 25px 30px;
  text-align: center;
  background: black;
  border-top: 3px solid #fed136;
  border-bottom: 3px solid #fed136;
  position: relative;
}
.serviceBox:before{
  content: "";
  border-top: 0 solid #fed136;
  border-right: 0 solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover:before{
  border-top-width: 78px;
  border-right-width: 78px;
}
.serviceBox:after{
  content: "";
  border-bottom: 0 solid #fed136;
  border-left: 0 solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover:after{
  border-bottom-width: 78px;
  border-left-width: 78px;
}
.serviceBox .service-icon{
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 20px;
  border: 2px solid #fed136;
  background: black;
  font-size: 40px;
  color: #fed136;
  margin-bottom: 20px;
  position: relative;
}
.serviceBox .title{
  font-size: 20px;
  font-weight: 700;
  color: #fed136;
  letter-spacing: 1px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover .title{ letter-spacing: 3px; }
.serviceBox .description{
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 27px;
  margin: 0;
}
@media only screen and (max-width:990px){
  .serviceBox{ margin-bottom: 30px; }
}
   /************************************   modal register  *******************************************/


 /************************************  interface admin *******************************************/
  .titre-Liste-users{
    text-align: center;
  }
  .container-btn-search-admin {
  display: flex;
  width: 30%;
  padding: 20px 0px 30px 0;
 
}


 /************* tableau ******/
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
/****footer****/
.footer{
  margin-top: 50px;
background-color: cornsilk;
}
.container-footer{
  background-color: black;
  color: #fed136;
}
.aCopyright{
 color: white;
}
/****btn****/
.btn-user-cnx{
  background-color: transparent;
  border: transparent;
  color: #ccc;
}
.btn-user-cnx:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color:#ccc !important;
}
.btn-search{
color: white;
  background-color:#fed136 ;
}